/* reset/S */
body, div, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, iframe, input, textarea, select, label, article, aside, footer, header, menu, nav, section, time, audio, video, figure {
    margin: 0;
    padding: 0
}

article, aside, footer, header, nav, section, audio, canvas, video, img {
    display: block;
}

textarea {
    resize: none;
}

iframe, img {
    border: 0;
}

ul, ol {
    list-style: none;
}

input, select, textarea {
    outline: 0;
    -webkit-user-modify: read-write-plaintext-only;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin: 0;
}

input, button {
    background: none;
    border: none;
    -webkit-appearance: none;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
    outline: none;
}

h1, h2, h3, h4, h5, h6, strong {
    font-size: 100%;
    font-weight: normal;
}

i, em {
    font-style: normal;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, input, textarea, button {
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", FontAwesome, sans-serif;
}

body {
    background: #f4f4f4;
    color: #121212;
    font-size: 14px;
    line-height: 1.5;
    overflow-x: hidden;
}

a:link, a:visited {
    color: #121212;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/* reset/E */

.none {
    display: none !important;
}

/* UI组件—图标/S */
.icon-general {
    display: inline-block;
    vertical-align: top;
    background: url(../img/main.png) no-repeat;
    background-size: 1.5rem 2rem;

}

.icon-cm {
    width: 0.16rem;
    height: 0.2rem;
    margin: 0.02rem 0.1rem 0 0;
}

.left-arrow {
    background-position: -41px -73px;
    margin: 0;
}

.icon-nav {
    width: 0.22rem;
    height: 0.22rem;
    margin: 0.12rem 0.1rem 0 0;
}

.icon-menu {
    width: 0.2rem;
    height: 0.2rem;
    margin: 0.13rem 0.1rem 0 0;
    border-radius: 3px;
}

.icon-index {
    width: 0.26rem;
    height: 0.26rem;
    margin: 0.15rem 0.12rem 0 -0.14rem;
}

.icon-sharefav {
    width: 0.17rem;
    height: 0.17rem;
    margin: 0.05rem;
}

.icon-stars i {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../img/icon-star.png) 0 0 no-repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    margin-top: 0.02rem;
}
.icon-stars .active {
    background-position: 0 -18px;
}

/* UI组件—图标/E */

/* UI组件—按钮/S */
.btn {
    position: relative;
    display: inline-block;
    padding: 0.05rem 0.12rem;
    vertical-align: middle;
    font-size: 0.16rem;
    text-align: center;
    border-radius: 6px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn-a {
    color: #FF5F00;
    border: 1px solid #FF5F00;
}

.btn-b {
    color: #fff;
    background: #FF5F00;
}

.btn-a:link, .btn-a:visited {
    color: #FF5F00;
}

.btn-b:link, .btn-b:visited {
    color: #fff;
}

.btn-a.active {
    background: #ffe5d5;
}

.btn-b.active {
    background: #ef5900;
}

/* UI组件—按钮/E */

/* 交互组件—动画/S */
@-webkit-keyframes FlipInY {
    0% {
        -webkit-transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotateY(-10deg);
    }
    70% {
        -webkit-transform: perspective(400px) rotateY(10deg);
    }
    100% {
        -webkit-transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}

@-webkit-keyframes FlipOutY {
    0% {
        -webkit-transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
}

@-webkit-keyframes EasyIn {
    0% {
        -webkit-transform: perspective(400px)  scale(0);
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) scale(0.3);
    }
    70% {
        -webkit-transform: perspective(400px) scale(0.65);
    }
    100% {
        -webkit-transform: perspective(400px) scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes EasyOut {
    0% {
        -webkit-transform: perspective(400px) scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: perspective(400px) scale(0);
        opacity: 0;
    }
}


@-webkit-keyframes BounceInB {
    0% {
        opacity: 0;
        -webkit-transform: translateY(90px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    80% {
        -webkit-transform: translateY(10px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}

@-webkit-keyframes BounceInC {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.1);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.4);
    }
    80% {
        -webkit-transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@-webkit-keyframes BounceOutB {
    0% {
        -webkit-transform: translateY(0);
    }
    20% {
        opacity: 1;
        -webkit-transform: translateY(-15px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(90px);
    }
}

.EasyIn {
    -webkit-animation: EasyIn .4s ease-in-out;
}
.EasyIn2 {
    -webkit-animation: EasyIn .6s ease-in-out;
}
.EasyIn3 {
    -webkit-animation: EasyIn .8s ease-in-out;
}
.EasyIn4 {
    -webkit-animation: EasyIn 1s ease-in-out;
}
.EasyIn5 {
    -webkit-animation: EasyIn 1.2s ease-in-out;
}

.EasyOut {
    -webkit-animation: EasyOut .6s ease-in-out;
}

.FlipInY {
    -webkit-animation: FlipInY .4s ease-in-out;
}
.FlipInY2 {
    -webkit-animation: FlipInY .6s ease-in-out;
}
.FlipInY3 {
    -webkit-animation: FlipInY .8s ease-in-out;
}
.FlipInY4 {
    -webkit-animation: FlipInY 1s ease-in-out;
}
.FlipInY5 {
    -webkit-animation: FlipInY 1.2s ease-in-out;
}
.FlipOutY {
    -webkit-animation: FlipOutY .3s ease-in-out;
}
.BounceInB {
    -webkit-animation: BounceInB .4s ease-in-out;
}
.BounceInC {
    -webkit-animation: BounceInC .4s ease-in-out;
}

.BounceInB2 {
    -webkit-animation: BounceInB .6s ease-in-out;
}
.BounceInB3{
    -webkit-animation: BounceInB .8s ease-in-out;
}
.BounceInB4 {
    -webkit-animation: BounceInB 1s ease-in-out;
}
.BounceInB5 {
    -webkit-animation: BounceInB 1.2s ease-in-out;
}


.BounceOutB {
    -webkit-animation: BounceOutB .5s ease-in-out;
}

/* 交互组件—动画/E */

/* 交互组件—弹出框/S */
.msg {
    position: fixed;
    left: 50%;
    bottom: 40px;
    height: 40px;
    width: 110px;
    margin-left: -55px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, .65);
    border-radius: 20px;
    visibility: hidden;
    -webkit-animation-fill-mode: forwards;
}

/* 交互组件—弹出框/E */

/* UI组件—遮罩/S */
.mask-trans,
.mask-black,
.nav-mask,
.nav-mask-after,
.dialog-mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mask-trans {
    z-index: 16;
    background: rgba(255, 255, 255, 0);
}

.mask-black {
    z-index: 20;
    background: rgba(65, 67, 80, .85);
}

.mask-black:after,
.nav-mask:after {
    position: absolute;
    left: 50%;
    bottom: 18px;
    content: '';
    width: 20px;
    height: 20px;
    margin-left: -10px;
    background: url(../img/icon-close.png) no-repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    opacity: 0.55;
}

.mask-black .share-text {
    position: fixed;
    z-index: 25;
    top: 11px;
    right: 18px;
    display: none;
    width: 288px;
    height: 356px;
    background: url(../img/share-text.png) no-repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}

/* UI组件—遮罩/E */

/* 导航s */
.navbar {
    height: 0.44rem;
    width: 100%;
    color: #fff;
    background: #FF5F00;
    border-bottom: 1px solid #DD5300;
}

.nav-title {
    text-align: center;
    font-size: 0.17rem;
    line-height: 0.44rem;
    font-weight: 400;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 0;
    height: 0.44rem;
    color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.nav-title ul {
    width: 1.6rem;
    margin: 0 auto;
}

.nav-title li {
    float: left;
    margin-top: 0.06rem;
    width: 0.8rem;
    height: 0.32rem;
    line-height: 0.3rem;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ffffff;
    overflow: hidden;
}

.nav-title li:last-child {
    border-radius: 0 6px 6px 0;
}

.nav-title li a {
    font-size: 0.14rem;
    color: #ffffff;
    display: block;
    height: 0.3rem;
}

.nav-title li .active {
    font-size: 0.14rem;
    color: #FF5F00;
    background: #ffffff;
}

.nav-wrap-left {
    float: left;
    position: relative;
    width: 0.44rem;
    height: 0.44rem;
}

#list-btn {
    background-position: 0 0;
    margin: 0.12rem 0 0 0.1rem;
}

.nav-wrap-right {
    float: right;
    position: relative;
    width: 0.44rem;
    height: 0.44rem;
}

.nav-wrap-right2 {
    float: right;
    position: relative;
    width: 0.44rem;
    height: 0.44rem;
}

.search-box {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0rem;
    display: -webkit-box;
    display: -moz-box;
}

.search-box .search-input {
    position: relative;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    height: 0.32rem;
    margin-top: 0.06rem;
    background: #ffffff;
    text-indent: 0.1rem;
    border-radius: 5px;
    font-size: 0.14rem;
    float: left;
    font-family: microsoft yahei, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.search-box .search-btn {
    position: relative;
    width: 0.5rem;
    height: 0.32rem;
    color: #ffffff;
    font-size: 0.16rem;
    text-align: center;
    margin-top: 0.06rem;
    float: right;
    cursor: pointer;
    font-family: microsoft yahei, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-menu-btn {
    margin: 0.12rem 0.1rem 0 0;
    background-position: -66px 0;
    float: right;
}

.nav-return-btn {
    background-position: -44px 0;
    float: left;
    margin: 0.12rem 0 0 0.1rem;
}

.nav-menu {
    position: fixed;
    display: none;
    right: 0.04rem;
    top: 0.48rem;
    z-index: 15;
    width: 1.2rem;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .18s ease-out;
    -moz-transition: all .18s ease-out;
    transition: all .18s ease-out;
    border-radius: 3px;
    overflow: hidden;
}

.nav-menu.show {
    display: block;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.nav-menu li {
    width: 100%;
    height: 0.44rem;
    line-height: 0.44rem;
    background: rgba(66, 66, 66, 0.95);
    border-top: 1px solid #444;
}

.nav-menu li a {
    display: block;
    padding-left: 0.1rem;
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-size: 15px;
}

.nav-menu li:first-child {
    border-top: none;
}

.nav-search {
    background-position: -22px 0;
    float: right;
}

.nav-menu li .ico-menu1 {
    background-color: #ff861e;
    background-position: 2px -53px;
}

.nav-menu li .ico-menu2 {
    background-color: #34b8e4;
    background-position: -16px -53px;
}

.nav-menu li .ico-menu3 {
    background-color: #30c4b4;
    background-position: -32px -53px;
}

.nav-menu li .ico-menu4 {
    background-color: #ff7360;
    background-position: -50px -53px;
}

/* 导航e */

/* 商家列表 */
.list-box {
    margin-top: 0.1rem;
    border-top: 1px solid #e9e9e9;
}

.list-box .hd {
    background: #ffffff;
    color: #797979;
    display: flex;
    height: 0.4rem;
    font-size: 0.13rem;
    padding-left: 0.1rem;
    line-height: 0.4rem;
    border-bottom: 1px solid #ececec;
}

.list-box .bd li {
    position: relative;
    width: 100%;
}

.list-box .bd a {
    background: #ffffff;
    padding: 0.1rem;
    overflow: hidden;
    border-bottom: 1px solid #ececec;
    width: 100%;
    flex-flow: row;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
}

.list-box .bd .dealcad-img {
    width: 0.8rem;
    height: 0.65rem;
    overflow: hidden;
}

.list-box .bd .dealcad-img img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.list-box .bd .dealcad-block {
    position: relative;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    padding-left: 0.1rem;
}

.dealcad-row1 {
    width: 100%;
    height: 0.26rem;
}

.dealcad-row1 .dealcad-title {
    font-size: 0.18rem;
    font-weight: 500;
}

.dealcad-row1 .dealcad-plus {
    width: 0.16rem;
    height: 0.16rem;
    line-height: 0.14rem;
    text-align: center;
    font-size: 0.12rem;
    border-radius: 3px;
    color: #FF5F00;
    border: 1px solid #FF5F00;
}

.dealcad-row2 {
    width: 100%;
    height: 0.22rem;
}

.dealcad-xx {
    width: 0.78rem;
    height: 0.18rem;
    background: url(../img/main.png) no-repeat 0px -21px;
    background-size: 1.5rem 2rem;
}

.length {
    position: absolute;
    width: 0.65rem;
    height: 0.18rem;
    background: url(../img/main.png) no-repeat 0px -38px;
    background-size: 1.5rem 2rem;
}

.dealcad-row2 .dealcad-pl {
    font-size: 0.12rem;
    line-height: 0.18rem;
}

.dealcad-row3 {
    width: 100%;
    height: 0.25rem;
    font-size: 0.12rem;
    color: #797979;
    border-bottom: 1px dashed #e9e9e9;
}

.dealcad-row4 {
    width: 100%;
    font-size: 0.12rem;
    color: #797979;
}

.dealcad-row4 .dealcad-ss span {
    margin-right: 0.1rem;
}

.dealcad-row3 .dealcad-ss span {
    margin-right: 0.1rem;
}

.sale-yh {
    margin-top: 0.08rem;
    width: 100%;
    height: 0.25rem;
    font-size: 0.12rem;
    color: #797979;
    line-height: 0.16rem;
}

.sale-yh span {
    display: block;
    float: left;
    text-align: center;
    color: #ffffff;
    margin-right: 0.08rem;
    width: 0.16rem;
    height: 0.16rem;
    border-radius: 3px;
}

.quan {

    background: #FF5F00;
}

.jian {
    background: #ff4883;
}

.pager {
    margin-top: 0.1rem;
    background: #ffffff;
    border: 1px solid #e9e9e9;
    border-right: none;
    border-left: none;
    height: 0.44rem;
}

.pager a {
    display: block;
    margin: 0.07rem 0.1rem;
    padding: 0 0.08rem;
    float: left;
    font-size: 0.14rem;
    line-height: 0.26rem;
    color: #FF5F00;
    border: 1px solid #FF5F00;
    border-radius: 5px;
}

.pager .disabled {
    display: block;
    margin: 0.06rem 0.1rem;
    padding: 0 0.08rem;
    float: left;
    font-size: 0.14rem;
    line-height: 0.28rem;
    color: #999;
    background: #dcdcdc;
    border: none;
    border-radius: 5px;
}

.pager span {
    float: left;
    color: #797979;
    font-size: 0.16rem;
    margin: 0.13rem 0.1rem;
    text-align: center;
}

/* 商家列表e */

/* 筛选信息s */

.nav-bar {
    position: relative;
}

.nav-bar.cur {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 160;
}

.nav-bar .nav {
    background: #ffffff;
    border-bottom: 1px solid #e9e9e9;
    width: 100%;
    height: 0.44rem;
    line-height: 0.44rem;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
}

.nav-bar li {
    float: left;
    font-size: 0.16rem;
    text-align: center;
    border-right: 1px solid #ececec;
}

.nav-bar .arrow {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 7px;
    height: 7px;
    overflow: hidden;
}

.nav-bar .nav li span {
    margin-right: 0.1rem;

}

.nav-bar .nav li:last-child {
    border-right: none;
}

.nav-bar li i:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 10px;
    height: 10px;
    background: #cccccc;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-bar .nav li.active {
    color: #FF5F00;
}

.nav-bar .nav li.active i:after {
    background-color: #ffa000;
}

.nav-bar .category {
    position: relative;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
}

.nav-bar .subway {
    position: relative;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
}

.nav-bar .csp {
    position: relative;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
}

.tabCon {
    background: #ffffff;
    position: absolute;
    z-index: 160;
    width: 100%;
    max-height: 400px;
    overflow: hidden;
}

.tabCon .mod {

    width: 100%;
    max-height: 400px;
    overflow: hidden;
}

.tabCon ul {
    z-index: 110;
    width: 100%;
}

.tabCon li {
    width: 100%;
    text-align: left;
}

.tabCon .row1 {
    float: left;
    width: 36%;
    overflow: scroll;
    height: 400px;
}

.tabCon .row2 {
    float: left;
    width: 64%;
    background: #f0efed;
    overflow: scroll;
    height: 400px;
    border-left: 1px solid #e9e9e9;
}

.tabCon .mod a {
    display: block;
    width: 100%;
    height: 0.44rem;
    border-bottom: 1px solid #e9e9e9;
    font-size: 0.14rem;
    line-height: 0.44rem;
    padding-left: 0.2rem;
}

.tabCon .mod i {
    display: block;
    font-size: 0.12rem;
    padding: 0 0.08rem;
    border-radius: 15px;
    height: 0.18rem;
    margin: 0.14rem 0.1rem 0 0;
    line-height: 0.18rem;
    background: #cccccc;
    float: right;
    color: #ffffff;
}

.tabCon .mod a.cur {
    background: #f0efed;
    color: #FF5F00;
}

/* 筛选信息e */

/* 内容区s */

.shop-info {
    margin-bottom: 0.1rem;
    float: left;
    width: 100%;
}

.shop-info .detail-mode {
    width: 100%;
    background: #ffffff;
    border-bottom: 1px solid #e9e9e9;
    position: relative;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
}

.shop-info .pic-txt {
    background: #ffffff;
    width: 100%;
    border-bottom: 1px solid #e9e9e9;
    padding: 0.1rem;
    position: relative;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
}

.shop-info .pic-txt .pic {
    width: 1rem;
    height: 0.7rem;
    overflow: hidden;
}

.shop-info .pic-txt .pic a {
    padding: 0;
}

.shop-info .pic-txt .pic img {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 5px;
}

.shop-info .pic-txt .txt {
    position: relative;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    margin-left: 0.1rem;

}

.shop-info .pic-txt .txt .shop-name {
    width: 100%;
    font-size: 0.2rem;
    font-weight: 500;
}

.shop-info .pic-txt .txt .pingjia {
    width: 100%;
}

.shop-info .pic-txt .txt .desc {
    width: 100%;
    font-size: .14rem;
    line-height: 1;
    color: #797979;
    margin-top: 0.04rem;
}

.shop-info .pic-txt .txt .desc span {
    margin-right: 0.04rem;
}

.shop-info .line a {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    padding: 0.1rem;
    min-height: 0.44rem;
}

.shop-info .line i {
    position: relative;
}

.shop-info .line .icon-add {
    background-position: -1px -73px;
}

.shop-info .line .icon-tel {
    background-position: -22px -73px;
}

.shop-info .line span {
    position: relative;
    float: left;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
}

.con-wrap {
    width: 100%;
    overflow: hidden;
    background: #ffffff;
}

.shop-info .map-mini {
    display: block;
}

.shop-info .map-mini .hd {
    width: 100%;
    font-size: 0.18rem;
    position: relative;
    height: 0.34rem;
    color: #333333;
    padding: 0.1rem;
}

.shop-info .map-mini .bd {
    position: relative;
    display: block;
    font-size: 0.16rem;
    color: #43424a;
    width: 100%;
    padding: 0.1rem;
    border-bottom: 1px solid #e9e9e9;
}

.shop-info .map-mini .bd a {
    position: relative;
    display: block;
    font-size: 0.14rem;
    line-height: 0.22rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 0;
    min-height: 0.34rem;
}

.shop-sale {
    border-top: 1px solid #e9e9e9;
    width: 100%;

}

.shop-sale .shop-price {
    width: 100%;
    float: left;
    height: 0.6rem;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    padding: 0.12rem 0.1rem 0.1rem 0.1rem;
    font-size: 0.18rem;
}

.shop-sale .shop-price .big {
    position: relative;
    width: 0.8rem;
    color: #FF5F00;
    line-height: 0.34rem;
}

.shop-sale .shop-price .big strong {
    font-size: 0.36rem;
    font-weight: 400;
    margin-right: 0.02rem;
}

.shop-sale .shop-price .del {
    position: relative;
    color: #cccccc;
    text-decoration: line-through;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    margin-top: 0.1rem;

}

.shop-sale .shop-price .buy-btn {
    display: block;
    width: 0.98rem;
    text-align: center;
    font-size: 0.16rem;
    position: relative;
    margin-right: 0;
    background: #FF5F00;
    color: #ffffff;
    min-height: 0.36rem;
    border-radius: 5px;
}

.shop-sale .price-desc {
    display: block;
}

.shop-sale .price-desc .hd {
    position: relative;
    font-size: 0.16rem;
    height: 0.44rem;
    line-height: 0.24rem;
    color: #43424a;
    width: 100%;
    padding: 0.1rem;
}

.shop-sale .price-desc .hd i {
    content: "";
    width: 0;
    height: 0;
    border-top: .07rem solid #ececec;
    border-left: .06rem solid transparent;
    border-right: .06rem solid transparent;
    border-bottom: 0;
    margin-top: 0.08rem;
    float: right;
}

.shop-sale .price-desc .bd {
    position: relative;
    font-size: 0.16rem;
    line-height: 0.24rem;
    color: #43424a;
    width: 100%;
    padding: 0.1rem;
    border-top: 1px solid #e9e9e9;
}

.shop-sale .price-desc .bd span {
    float: left;
    font-size: 0.14rem;
    color: #666;
    width: 100%;
    border-bottom: 1px dashed #ececec;
    margin-bottom: 0.1rem;
    padding-bottom: 0.05rem;
}

.shop-sale .price-desc .bd span:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.shop-sale .price-desc .bd strong {
    display: block;
    color: #999;
    width: 0.75rem;
}

.shop-sale .share-fav {
    display: block;
}

.shop-sale .share-fav li {
    display: block;
    float: left;
    width: 50%;
    line-height: 0.3rem;
    padding: 0.1rem;
}

.shop-sale .share-fav span {
    width: 0.6rem;
    float: left;
    margin-top: 0.04rem;
    line-height: 0.2rem;
}

.shop-sale .share-fav div {
    min-height: 0.3rem;
    width: 100px;
    margin: 0 auto;
}

.shop-sale .share-fav a {
    width: 100%;
}

.shop-sale .share-fav .icon-share {
    background-position: 0 -94px;
}

.shop-sale .share-fav .icon-fav {
    background-position: -21px -94px;
}

.shop-comment .shop-pj {
    border-top: 1px solid #e9e9e9;
    width: 100%;
    background: #ffffff;
    display: block;
}

.shop-comment .hd {
    position: relative;
    font-size: 0.16rem;
    height: 0.44rem;
    line-height: 0.24rem;
    color: #43424a;
    width: 100%;
    padding: 0.1rem;
    border-bottom: 1px solid #e9e9e9;
    display: block;
}

.shop-comment .bd {
    position: relative;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    font-size: 0.16rem;
    line-height: 0.24rem;
    color: #43424a;
    width: 100%;
    padding: 0.1rem;
    border-bottom: 1px solid #e9e9e9;
}

.shop-comment .new-bd{
    border-bottom: none;
    padding-bottom: 0;
}

.shop-comment .bd .user-img {
    width: 0.5rem;
    height: 0.5rem;
    overflow: hidden;
    margin-right: 0.1rem;
}

.shop-comment .bd img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 25px;

}

.shop-comment .bd .user-txt {
    position: relative;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
}

.shop-comment .bd .user-txt p {
    font-size: 0.16rem;
    float: left;
}

.shop-comment .bd .user-txt .user-name {
    float: left;
    width: 100%;
    color: #999;
}

.shop-comment .bd .user-txt .pingjia {
    width: 100%;
    margin: 0.05rem 0;
}

.shop-comment  .dealcad-time {
    color: #999999;
    font-size: 0.14rem;
    line-height: 0.26rem;
}
.shop-comment .bd .pj-btn {
    width: 100%;
    height: 0.44rem;
}

.shop-comment .pj-btn a {
    display: block;
    margin: 0 auto;
}

.shop-comment .bd .user-txt img {
    width: 0.7rem;
    height: 0.7rem;
    float: left;
    margin: 0.05rem 0.1rem 0 0;
}

.shop-comment .new-info{
    width: 100%;
    position: relative;
    padding: 0.1rem;
    font-size: 0.14rem;
    border-bottom: 1px solid #ececec;
}

.shop-comment .new-info .pj-img{
    width: 100%;
}

.shop-comment .new-info p{
    color: #43424a;
}

.shop-comment .new-info .opt-item{
    position: relative;
    display: block;
    float: right;
    height: 24px;
    color: #999;
    line-height: 0.2rem;
    -webkit-background-size: 16px auto;
    border-radius: 15px;
    border: 1px solid #ececec;
    padding: 0 0.1rem;
    background-size: 16px auto;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    cursor: pointer;
}


.shop-comment .new-info .icon-zan{
    width: 0.17rem;
    height: 0.17rem;
    margin: 0.02rem 0.05rem 0 0;
    background-position: -87px -20px;
}

.shop-comment .new-info .icon-zan.on{
    background-position: -87px -37px;
}

.shop-comment .new-info img {
    width: 0.7rem;
    height: 0.7rem;
    float: left;
    margin: 0.1rem 0.1rem 0.1rem 0;
}

.mask-transparent {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background: rgba(255, 255, 255, 0);
}

/* 内容区e */

.foot {
    font-size: 0.12rem;
    color: #999;
    width: 60%;
    text-align: center;
    margin: 0.1rem auto 0.12rem;
}

.top-btn {
    display: none;
    position: fixed;
    right: 0.1rem;
    bottom: 0.15rem;
    width: .39rem;
    height: .39rem;
    z-index: 130;
    color: #fff;
    background: url(../img/top.png);
    background-size: 39px 39px;
    overflow: hidden;
}

.more a {
    display: block;
    width: 95%;
    margin: 0.1rem auto;
    background: #ffffff;
    border: 1px solid #ececec;
    font-size: 0.14rem;
    text-align: center;
    height: 0.4rem;
    color: #FF5F00;
    line-height: 0.4rem;
    border-radius: 5px;
}

#main {
    position: relative;
}

#tiles {
    position: relative;
}

#tiles li {
    background-color: #ffffff;
    border: 1px solid #dedede;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    display: none; /** Hide items initially to avoid a flicker effect **/
    cursor: pointer;
    padding: 2px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.bigimage {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
    top: 0;
    z-index: 151;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    -webkit-align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -moz-align-items: center;
}

.jz {
    width: 100%;
}

.bigimage img {
    height: 100%;
    width: 100%;
}

#tiles li img {
    display: block;
}








